@import url('https://fonts.googleapis.com/css2? family= Be+Vietnam+Pro:wght@400;500;700 & display=swap');


*{
    font-family: 'Be Vietnam Pro', sans-serif;;
    padding: 0;
    margin: 0;
}


/*-----------------------------------------------------------------*/

p{
    font-size: 16px;
    color: hsl(227, 12%, 61%);
}


button{
    font-weight: 700;
    border: none;
    color: white;
    border-radius: 20px;
    height: 30px;
    width: 100px;
    background: hsl(12, 88%, 59%);
}

h1 , h2{
    color:hsl(233, 12%, 13%);
}

ol , li{
    margin-left: 10px;
    justify-content: center;
    display: flex;
}