@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@700,203&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(0%, 0%, 100%);
}

ol,
li {
  color: hsl(219, 9%, 45%);
  margin-left: 20px;
  display: flex;
}

p {
  font-size: 16px;
}

button {
  border-radius: 10px;
  border: none;
  height: 40px;
  width: 170px;
  background: hsl(26, 100%, 55%);
}

/*image code is here*/

/****/
